<app-header title ="Minha Lista de Contatos"></app-header>
<br /><br />
<!--<app-navbar></app-navbar>-->

<div class="container">
<router-outlet></router-outlet>
</div>

<app-footer></app-footer>
<!--
<br /> <br />

{{meuInput}}


<button
  [disabled] = "isButtonDisabled"
  (click)="executarAcao('parametro recebido')"
  (dblclick)="executarAcao('clique duplo')"
  (mouseover)="executarAcaoMouse('Mouse em cima do botão')"
  (mouseout)="executarAcaoMouse('Mouse em fora do botão')">{{labelButton}}</button>

  {{labelMouse}}
  -->
