<app-header title ="Minha Lista de Contatos"></app-header>
<br /><br />
<!--<a routerLink="/">Contacts</a>
<a routerLink="/about">About </a>
-->
<router-outlet></router-outlet>



<!--
<br /> <br />

{{meuInput}}


<button
  [disabled] = "isButtonDisabled"
  (click)="executarAcao('parametro recebido')"
  (dblclick)="executarAcao('clique duplo')"
  (mouseover)="executarAcaoMouse('Mouse em cima do botão')"
  (mouseout)="executarAcaoMouse('Mouse em fora do botão')">{{labelButton}}</button>

  {{labelMouse}}
  -->
